.*.swp
*.o
*.xo
*.so
*.d
*.log
*.out

/main
.vscode/*
.idea/*

network/w
network/epoll
network/poll
network/select
/bin

/base/*.out


/data/app/c/cwhole/redis_tutorial/*.o
/data/app/c/cwhole/redis_tutorial/sds
/data/app/c/cwhole/redis_tutorial/cmake-build-debug
/data/app/c/cwhole/redis_tutorial/CMakeFiles
/data/app/c/cwhole/redis_tutorial/CMakeCache.txt