.*.swp
*.o
*.xo
*.so
*.d
*.log
*.out

/main
.vscode/*
.idea/*

network/w
network/epoll
network/poll
network/select
/bin

/base/*.out


/redis_tutorial/*.o
/redis_tutorial/sds
/redis_tutorial/cmake-build-debug
/redis_tutorial/CMakeFiles
/redis_tutorial/CMakeCache.txt

/c++_tutorial/*.o
/c++_tutorial/cmake-build-debug
/c++_tutorial/CMakeFiles
/c++_tutorial/CMakeCache.txt
/c++_tutorial/cmake-build-debug/CMakeFiles/clion-log.txt